html {
  background-color: black;
  color: beige;
  font-family: "Roboto Mono", monospace;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.hides {
  display: none;
}

header {
  margin: 0 auto;
  background: black;
  text-align: center;
  padding: 10px;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
header h1 {
  /* text-align: left; */
  font-size: 1.52em;
}
header img {
  height: 65px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

a {
  font-size: 1.2em;
  text-decoration: none;
  color: #d4ae32;
  padding: 0 10px;
  margin-right: 20px;
}

a:last-child {
  margin-right: 0;
}

a:hover {
  text-decoration: underline;
}

main .container {
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  gap: 10px;
  padding: 10px;
}
main h2 {
  padding-left: 30px;
  padding-top: 10px;
}
@-webkit-keyframes imagesize {
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes imagesize {
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
main .box {
  background-color: darkslategrey;
  padding: 20px;
  text-align: center;
  font-size: 1em;
}
main .box img {
  width: 250px;
  margin: 10px;
}
main .box img:hover {
  -webkit-animation-name: imagesize;
          animation-name: imagesize;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
main div.box:hover {
  background-color: darkslateblue;
}
@-webkit-keyframes buttoncolor {
  0% {
    background-color: darkorchid;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
  }
  100% {
    background-color: darkmagenta;
    left: 0px;
    top: 0px;
  }
}
@keyframes buttoncolor {
  0% {
    background-color: darkorchid;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
  }
  100% {
    background-color: darkmagenta;
    left: 0px;
    top: 0px;
  }
}
main button {
  width: 120px;
  background-color: darkorchid;
  margin: 16px auto;
  padding: 10px;
  border-radius: 10px;
}
main button:hover {
  background-color: darkmagenta;
  -webkit-animation-name: buttoncolor;
          animation-name: buttoncolor;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
main fieldset {
  border: none;
  text-align: center;
  font-size: 1em;
}
main #add_to_basket input {
  text-align: center;
  margin: 0 auto;
  width: 60px;
  height: 20px;
  border-radius: 10px;
}
main #add_to_basket {
  display: grid;
  margin-bottom: 8px;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  header {
    height: 150px;
  }
  header h1 {
    font-size: 2em;
  }
  header img {
    height: 75px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  nav a {
    font-size: 1.2em;
  }
  main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(47, 47, 47);
  }
  main .box img {
    width: 250px;
    margin: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .hides {
    display: contents;
  }
  header {
    height: 250px;
  }
  header h1 {
    font-size: 4em;
  }
  header .img {
    height: 175px;
  }
  nav {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10px;
  }
  nav a {
    font-size: 1.2em;
  }
  main .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(47, 47, 47);
  }
  main .box img {
    width: 250px;
    margin: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .hides {
    display: contents;
    padding: 150px;
  }
  header {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 10px;
    height: 350px;
  }
  header h1 {
    font-size: 5em;
    text-align: center;
  }
  header img {
    height: 250px;
  }
  nav {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10px;
    font-size: 2em;
  }
  main .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    background-color: rgb(47, 47, 47);
  }
  main a {
    font-size: 2em;
  }
  main .links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  main h2 {
    font-size: 3em;
  }
  main .box {
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
    font-size: 3em;
  }
  main .box img {
    width: 250px;
    margin: 10px;
  }
  main div.box:hover {
    background-color: darkslateblue;
  }
  main button {
    width: 300px;
    background-color: darkorchid;
    margin: 16px auto;
    padding: 10px;
    border-radius: 10px;
  }
  main button:hover {
    background-color: darkmagenta;
  }
  main fieldset {
    border: none;
    text-align: center;
    font-size: 1em;
  }
  main #add_to_basket input {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 90px;
    border-radius: 25px;
  }
  main #add_to_basket {
    display: grid;
    margin-bottom: 8px;
    text-align: center;
    font-size: 1em;
  }
  main .box img {
    width: 350px;
    margin: 10px;
  }
  footer {
    text-align: left;
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */